$neon-green: #73ff00;
$black: #000000;
$background-black: #161616;
$dark-gray: #2d2d2d;
$dark-gray-ellipse: #222222;
$dark-gray-js-ellipse: #333333;
$gray: #4f4f4f;
$span-gray: #3d3d3d;
$light-gray: #828282;
$white: #ffffff;
$nav-white: #c8c7cc;
$paragraph-white: #f3f3f3;
$white-ellipse: #b0b0b0;
$df-white: #dfdfdf;
$header-white: #e0e0e0;